<app-header></app-header>
<main>
    <ul id="users">
    <!-- @for (user of users; track user.id) { -->
            <li *ngFor='let user of users'>
            <app-user 
            [user]="user"
            (select) = "onUserSelected($event)" 
            />
            </li>
       <!-- } -->
    </ul>

    <!-- @if (selectedUser) { 1-->
    <app-tasks *ngIf="selectedUser; else fallback" [name] = "selectedUser.name"  [id] = "selectedUser.id"/>
    <!-- @else { -->
    <ng-template #fallback>
        <p id="fallback">No user selected</p>
    </ng-template>
    <!-- } -->
    
</main>